<% if item.user == current_user || item.user == nil %>
    <p id="<%= item.id %>"><%= item.name %>
    <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %></p>
<% end %>
