<% if item.user == current_user || item.user == nil %>
    <p id="<%= item.id %>"><%= item.name %>
      <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
      <% time = Time.now %>
      <%= "#{distance_of_time_in_words(time, item.created_at + 7.days)} before deletion" %></p>
<% end %>
